body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #343434;
    padding: 0 50px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #3f84e5;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sattitle{
    padding-top: 20px;
    padding-right: 190px;
}

.startitle{
    padding-top: 20px;
    padding-left: 190px;
}

.space{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Saturn{
    padding-top: 20px;
    padding-right: 90px;
}

img.rings{
    width: 339px;
    height: 294px;
}

img.big{
    width: 339px;
    height: 294px;
}

.Stars{
    padding-top: 20px;
    padding-left: 90px;
}

img.saturn{
    float: right;
    padding: 10px;
    margin: 10px;
    width: 339px;
    height: 294px;
}

img.stars{
    float: left;
    padding: 10px;
    margin: 10px;
    width: 339px;
    height: 294px;
}

p{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.home{
    text-align: center;
}